

            <div class="large-12" style="padding:20px;">
              <h1>A Random Page of Components</h1>
              <!-- <div class="flex-video">
                <iframe width="420" height="315" src="http://www.youtube.com/embed/ZZ5LpwO-An4" frameborder="0" allowfullscreen></iframe>
              </div> -->
              
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>

              <ul class="clearing-thumbs clearing-feature" data-clearing>
                <li class="clearing-featured-img"><a class="th" href="images/canyon.jpg"><img src="images/canyon-thumbnail.jpg"></a></li>
                <li><a href="images/epicland.jpg"><img src="images/epicland.jpg"></a></li>
                <li><a href="images/fireice.jpg"><img src="images/fireice.jpg"></a></li>
                <li><a href="images/newzeal.jpg"><img src="images/newzeal.jpg"></a></li>
              </ul>


            </div>

