<link rel="stylesheet" type="text/css" href="stylesheets/custom.css">
<div class="large-12">
  <div class="large-10 columns landing">
    <h1 class="text-center">Sinatra Exploration</h1>
    <div class="large-8 column">
      <div class="left">
        <a href="/signup"><input type="button" class="button round rectangle sucess" value="Sign Up"></a>
      </div>
      <div class="clearfix right">
        <a href="/login"><input type="button" class="button round rectangle" value="Login"></a>
      </div>
    </div>
  </div>
</div>

