<div class="large-12">
	<% user.map{|p| %>
	<div class="clearfix">
		<h3>
			<a href="/users/<%= p.username%>"><%= "#{p.fname} #{p.lname}" %></a>
			<a href="/users/<%= p.username%>/delete">
				<input type="button" class="button alert rectangle round right" name="delete" value="Delete">
			</a>
		</h3>

	</div>
	<% } %>
</div>