<div class="row">
	<div class="large-8 large-offset-2 columns">
		<form action="/login" method="POST">
			<label for="username">
				Username
				<input type="text" id="username" name="username" placeholder="Username">
			</label>
			<label for="password">
				Password
				<input type="password" id="password" name="password" placeholder="Password">
			</label>
			<div class="large-4 columns">
				<input type="submit" class="button" value="Login">
			</div>
			<div class="large-4 columns">
				<a href="/index"><input type="button" class="button alert" value="Cancel"></a>
			</div>	
		</form>
	</div>
</div>
	